{% extends 'base.html.twig' %}

{% block title %}AYA
{% endblock %}

{% block body %}

	<section>
		<h2 class="h2 m-5 text-center text-uppercase fw-bold">Listes des articles dans la catégorie :
			{% for post in posts %}

			</h2>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<article class="card mb-5  ">
					<a href="/article/1/uncharted-film">
						<img src="/assets/images/full/{{ asset(post.image)}}" class="d-block w-100" alt="...">
					</a>
					<div class="card-body">
						<a aria-label="voirs l'article {{ post.slug }}" class="d-block card-title fst-italic   text-capitalizetext-decoration-none" href="/article/{{ post.id }}/{{ post.slug }}">
							{{ post.title|slice(0, 25) }}...
						</a>

						{# <p class="card-text text-wrap fw-bold "> #}
						{# {{ post.content|slice(0, 255) }}...</p> #}
					</div>
					<div class="d-flex text-capitalize px-3 gap-3  justify-content-center align-items-baseline">
						<p class="">Par :
							{{post.getUserId().getName() }}
							{{post.getUserId().getFirstName()}}</p>
						<p class=" fs-7 fw-light">
							Créé le :
							{{ post.getCreatedAt().format('d-m-Y')  }}</p>
					</div>
				</article>
			</div>
		</section>

	{% endfor %}

{% endblock %}
